<div class="container-fluid">
  <div class="jumbotron text-center mt-4">
    <h1>Inside Dashboard</h1>
    <p class="lead">Monitor your network and get insights</p>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="card text-white mb-3 ">
        <div class="card-header card-normal-header">Total Scans</div>
        <div class="card-body card-normal-body">
          <h5 class="card-title">13</h5>
          <p class="card-text">Network Scans</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-white mb-3">
        <div class="card-header card-green-header">Alerts</div>
        <div class="card-body card-green-body ">
          <h5 class="card-title">7</h5>
          <p class="card-text">Vulnerabilities found</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-white mb-3">
        <div class="card-header card-yellow-header">Pending Reports</div>
        <div class="card-body card-yellow-body">
          <h5 class="card-title">5</h5>
          <p class="card-text">Pending Reports</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-white bg-danger mb-3">
        <div class="card-header card-red-header">Issues</div>
        <div class="card-body card-red-body">
          <h5 class="card-title">3</h5>
          <p class="card-text">Critical Issues</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h3>Recent Activities</h3>
      <ul class="list-group">
        <li class="list-group-item">Attack simunation on 192.168.1.10 (Success)</li>
        <li class="list-group-item">Attack simulation on 192.168.1.15 (Failed)</li>
        <li class="list-group-item">Nmap scan on 10.0.0.5 (Success)</li>
      </ul>
    </div>
    <div class="col-md-6">
      
      <ul class="list-group">
        <h3>Last Found Vulnerabilities</h3>
        <li class="list-group-item">FTP vulnerable version on 192.168.1.10, port 21 (Critical)</li>
        <li class="list-group-item">Default samba password on 192.168.1.10, port 445 (Critical)</li>
        <li class="list-group-item">Upatched PHP version on 10.0.0.5 (Moderate)</li>
      </ul>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-12">
      <h3>Notifications</h3>
      <div class="alert alert-info" role="alert">
        [NEW] New update available, run "inside-update" in your terminal.
      </div>
      <div class="alert alert-warning" role="alert">
        [SUGGESTION] Enable autoscan module for increased protection.
      </div>
      <div class="alert alert-danger" role="alert">
        [PROBLEM] Missing dependencies: Metasploit; Run inside-update to fix the issue.
      </div>
    </div>
  </div>
</div>