<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="card text-white mb-3">
        <div class="card-header card-green-header fw-bold">Total Pentesting</div>
        <div class="card-body card-green-body">
          <h5 class="card-title fw-bold">{{ result.response.exploitCount }}</h5>
          <p class="card-text">Penetration Tests Ran</p>
        </div>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="card text-white mb-3">
        <div class="card-header card-yellow-header fw-bold">Total Nmap Scans</div>
        <div class="card-body card-yellow-body">
          <h5 class="card-title fw-bold">{{ result.response.scanCount }}</h5>
          <p class="card-text">Nmap Scans Ran</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card text-white mb-3">
        <div class="card-header card-red-header fw-bold">Alerts</div>
        <div class="card-body card-red-body">
          <h5 class="card-title fw-bold">{{ result.response.vulnerabilitiesCount }}</h5>
          <p class="card-text">Vulnerabilities found</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h3>Recent Activities</h3>
      <ul class="list-group">
        <li *ngFor="let activity of result.response.recentActivities | slice:0:3 " class="list-group-item">
          [{{ activity.activityDate }}] {{ activity.activityType }} on {{ activity.activityTarget }} ({{ activity.exploited ? 'Success' : 'Fail'}})
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <ul class="list-group">
        <h3>Last Vulnerabilities Found</h3>
        <li *ngFor="let service of result.response.vulnerableServicesRegisters | slice:0:5 " class="list-group-item">
          [{{ service.date }}] {{ service.service }} vulnerable version on {{ service.ip }}, port {{ service.port }}
        </li>
      </ul>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-md-12">
      <h3>Notifications</h3>
      <div class="alert alert-info" role="alert">
        <a [routerLink]="['/pentesting']"> New module Network Analysis arrived, click here and try it now. </a>
      </div>
    </div>
    <div class="col-md-12">
      <div class="alert alert-info" role="alert">
        <a [routerLink]="['/nmap']"> Scan your network now and find useful insights about your running services. </a>
      </div>
    </div>
  </div>
</div>