<nav class="sidebar bg-light">
  <img src="/assets/logo.png" alt="Logo" class="logo">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/']"> <i class="fa-solid fa-house"></i> Home</a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#pentestingCollapse" role="button" aria-expanded="false" aria-controls="pentestingCollapse">
        <i class="fa-solid fa-shield"></i> Pentesting
      </a>
      <div class="collapse" id="pentestingCollapse">
        <li class="nav-item ms-3">
          <a class="nav-link" [routerLink]="['pentesting']">Network</a>
        </li>                 
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#scansCollapse" role="button" aria-expanded="false" aria-controls="scansCollapse">
        <i class="fa-solid fa-network-wired"></i> Scans
      </a>
      <div class="collapse" id="scansCollapse">
        <li class="nav-item ms-3">
          <a class="nav-link" [routerLink]="['nmap']">Nmap</a>
        </li>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#reportsCollapse" role="button" aria-expanded="false" aria-controls="reportsCollapse">
        <i class="fa-solid fa-chart-simple"></i> Reports
      </a>
      <div class="collapse" id="reportsCollapse">
        <li class="nav-item ms-3">
          <a class="nav-link" routerLink="reports">Networking</a>
        </li>
        <li class="nav-item ms-3">
          <a class="nav-link" routerLink="vulnerability-report">Vulnerabilities</a>
        </li>
      </div>
    </li>
  </ul>
  
  <ul class="nav flex-column bottom-fixed">
    <hr class="text-light">
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#configCollapse" role="button" aria-expanded="false" aria-controls="configCollapse">
        <i class="fa-solid fa-gear"></i> Settings
      </a>
      <div class="collapse" id="configCollapse">
        <li class="nav-item ms-3">
          <a class="nav-link" (click)="toggleTheme()" href=""><i class="fa-solid" [ngClass]="{'fa-sun': isDarkMode, 'fa-moon': !isDarkMode}"></i>
            {{ isDarkMode ? ' Light Mode' : ' Dark Mode'}}
          </a>
        </li>
      </div>
    </li>
  </ul>
</nav>